<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>1f1ce1b3170863d1e54ebf90d025f91d</string>
	<key>baseURL</key>
	<string>https://api.forecast.io/forecast/</string>
</dict>
</plist>
